{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>dcnsakthi.co</h1>
    <p class="lead">This is skeleton for Python Django Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Django</h2>
        <p>
            Django is a high-level Python Web framework that encourages rapid development and clean, 
            pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, 
            so you can focus on writing your app without needing to reinvent the wheel. It's free and open source.
        </p>
        <p><a class="btn btn-default" href="https://www.djangoproject.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PyPI</h2>
        <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
        <p><a class="btn btn-default" href="https://pypi.org/project/Django/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Python</h2>
        <p>Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant whitespace.</p>
        <p><a class="btn btn-default" href="https://www.python.org/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
